aiohttp==1.0.5
async-timeout==1.1.0
asyncio==3.4.3
contextlib2==0.5.4
discord.py==0.14.2
dnspython==1.15.0
dnspython3==1.15.0
feedparser==5.2.1
ffmpy==0.2.1
Flask==0.11.1
future==0.15.2
httplib2==0.9.2
json-tricks==2.2
oauth2client==4.0.0
PyNaCl==1.0.1
pyOpenSSL==16.1.0
request==0.0.8
requests==2.11.1
websockets==3.2
youtube-dl==2016.10.21.1
